@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-background: #f6f6f9;

  --body-color: #f8f9fa;
  --sidebar-color: #e5e6e9;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;

  /* ====== TRANSITIONS ====== */
  --tran-03: all 0.3s ease;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

/*======DARK THEME VARIABLES======*/
body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}
/*======BUTTONS======*/

.btn {
  border-radius: 4px;
  font-size: 13px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 30px;
  border: none;
  letter-spacing: 0.02rem;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  position: relative;
  top: 0;
}

/*======GENERAL======*/

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 14px;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: poppins, sans-serif;
  font-size: 0.88rem;
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-03);
}
.containers {
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 80% 23rem;
}
a {
  color: var(--color-dark);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
img {
  display: block;
  width: 100%;
}
h1 {
  font-weight: 800;
  font-size: 1.8rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 0.87rem;
}
h4 {
  font-size: 0.8rem;
}
h5 {
  font-size: 0.77rem;
}
.profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}
.textMuted {
  color: var(--color-info-dark);
  font-size: 11px;
}
p {
  color: var(--color-dark-variant);
}
.success {
  color: var(--color-success);
}
a,
a:hover {
  text-decoration: none !important;
}
.btn:hover,
.btn:active,
.btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  top: 1px;
}
::selection {
  background-color: var(--primary-color);
  color: #fff;
}

/*======SIDEBAR======*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 12px;
  background: var(--sidebar-color);
  transition: var(--tran-03);
  z-index: 100;
}
.sidebar.close {
  width: 86px;
}
.profile {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-left: 5px;
  object-fit: cover;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  flex-direction: column;
}
.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}
.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}
.sidebar.close .text {
  opacity: 0;
}
.sidebar header {
  position: relative;
}
.img-logo {
  width: 11rem;
}
.nav-links {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-03);
}
.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}
.sidebar .menu {
  margin-top: 40px;
}
.sidebar li.search-box {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-03);
}
.sidebar li.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-03);
}
.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}
.sidebar li a:hover {
  background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}
.sidebar .menu-bar {
  height: calc(80% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar {
  display: none;
}
.sidebar .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-03);
}
.menu-bar .mode .sun-moon {
  height: 50px;
  width: 60px;
}
.mode .sun-moon i {
  position: absolute;
}
.mode .sun-moon i.sun {
  opacity: 0;
}
.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}
.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-03);
}
.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-03);
}
.home {
  position: absolute;
  top: 0;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-03);
}
.home .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px;
}
.home .top {
  display: flex;
  justify-content: end;
  gap: 6rem;
  align-items: center;
}
.home .top button {
  display: none;
}
.sidebar.close ~ .home {
  left: 78px;
  width: calc(100% - 78px);
}
.navbar {
  background-color: var(--sidebar-color);
}
.menuLinks {
  margin-right: -2rem;
}
.bodies {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 48px;
}

.left {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/*======INDEX HTML======*/

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}
.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}
.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}
.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}
.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

/*======TRANSFER HTML======*/
.container {
  display: flex;
  justify-content: center;
}
.buttonTranfers{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.radio-tile-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
.radio-tile-group .input-container {
    position: relative;
    height: 6rem;
    width: 21rem;
    margin: 0.5rem 0;
}
.radio-tile-group .input-container .radio-button {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
}
.radio-tile-group .input-container .radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 2px solid #079ad9;
  border-radius: 5px;
  padding: 1rem;
  transition: transform 300ms ease;
}
.radio-tile-group .input-container .icon svg {
  fill: #079ad9;
  width: 3rem;
  height: 3rem;
}
.radio-tile-group .input-container .radio-tile-label {
  text-align: center;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #079ad9;
}
.radio-tile-group .input-container .radio-button:checked + .radio-tile {
  background-color: #079ad9;
  border: 2px solid #079ad9;
  color: white;
  transform: scale(1.1, 1.1);
}
.radio-tile-group
  .input-container
  .radio-button:checked
  + .radio-tile
  .icon
  svg {
  fill: white;
  background-color: #079ad9;
}
.radio-tile-group
  .input-container
  .radio-button:checked
  + .radio-tile
  .radio-tile-label {
  color: white;
  background-color: #079ad9;
}
/*======MAIN======*/

main {
  margin-top: 1.4rem;
}
main .date {
  display: inline-block;
  background: var(--color-light);
  border-radius: var(--border-radius-1);
  margin-top: 1rem;
  padding: 0.5rem 1.6rem;
}
main .date input {
  background: transparent;
  color: var(--color-dark);
}
main .insights {
  display: grid;
  gap: 1.6rem;
}
main .insights > div {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
}
main .insights > div:hover {
  box-shadow: none;
}
main .insights > div span {
  background: coral;
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--color-white);
  font-size: 2rem;
}
main .insights > div .expenses span {
  background: var(--color-danger);
}
main .insights > div .income span {
  background: var(--color-success);
}
main .insights > div .middle {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}
main .insights h3 {
  margin: 1rem 0 0.6rem;
  font-size: 1rem;
}
main .insights .progress {
  background: transparent;
  position: relative;
  width: 92px;
  height: 92px;
  border-radius: 50%;
}
main .insights svg {
  width: 7rem;
  height: 7rem;
}
main .insights svg circle {
  fill: none;
  stroke: var(--color-primary);
  stroke-width: 14;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dasharray: 110;
  stroke-dashoffset: 92;
}
main .insights .sales svg circle {
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}
main .insights .expenses svg circle {
  stroke-dashoffset: 20;
  stroke-dasharray: 80;
}
main .insights .income svg circle {
  stroke-dashoffset: 35;
  stroke-dasharray: 110;
}
main .insights .progress .number {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .insights small {
  margin-top: 1.6rem;
  display: block;
}
main .insights button {
  margin: 1.6rem 1rem 0 0;
  display: block;
}

/*======DOWN IMG======*/

main .img-pay-father {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .img-pay {
  margin-top: 2rem;
  margin-right: 1.6rem;
  width: 49%;
  max-height: 17rem;
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}
main .img-pay .img-pay-online {
  width: 61rem;
  transform: translate(-13.5rem, -2.5rem);
}
main .img-pay:hover {
  box-shadow: none;
}
main .img-pay button {
  transform: translate(4rem, -11rem);
  color: var(--color-primary);
  text-decoration: none;
}
main .img-pay button a {
  text-decoration: none;
}

/*======RIGHT======*/

.right {
  margin-top: 1.4rem;
}
.right .theme-toggler {
  background: var(--color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.6rem;
  width: 4.2rem;
  cursor: pointer;
  border-radius: var(--border-radius-1);
}
.right .theme-toggler span {
  font-size: 1.2rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right .theme-toggler span.active {
  background: var(--color-primary);
  color: white;
  border-radius: var(--border-radius-1);
}

/*======RECENT UPDATES======*/

.right .recent-updates {
  margin-top: 1rem;
}
.right .recent-updates h2 {
  margin-bottom: 0.8rem;
}
.right .recent-updates .updates {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}
.right .recent-updates .updates:hover {
  box-shadow: none;
}
.right .recent-updates .updates .update {
  display: flex;
  grid-template-columns: 2.6rem auto;
  gap: 1rem;
  margin-bottom: 1rem;
}

/*======NEWS======*/

.right .news {
  margin-top: 2rem;
}
.right .news h2 {
  margin-bottom: 0.8rem;
}
.right .news .item {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.7rem;
  padding: 1.4rem var(--card-padding);
  border-radius: var(--border-radius-3);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}
.right .news .item:hover {
  box-shadow: none;
}
.right .news .item .right {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin: 0;
  width: 100%;
}
.right .news .item .icon {
  padding: 0.6rem;
  color: var(--color-white);
  border-radius: 50%;
  background: var(--color-primary);
  display: flex;
}
.right .news .item .icon.offline .icon {
  background: var(--color-danger);
}
.right .news .item .icon.customers .icon {
  background: var(--color-success);
}
/*======FOOTER======*/
footer {
  display: flex;
  height: 167px;
  /* position: absolute; */
  width: 100%;
  /* bottom: 0; */
  justify-content: center;
}
.footer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  justify-content: center;
  bottom: 0;
  position: absolute;
}
.footer a {
  padding: 0px 11px 0px 11px;
  font-size: 16px;
  color: white;
}
.footer2 {
  margin-top: 25px;
  margin-bottom: 10px;
}
footer svg {
  width: 57px;
  height: 28px;
  color: white;
}

/*======CREATE-CARDS HTML======*/
.disableSection {
  pointer-events: none;
  opacity: 0.4;
}

/*======CREDITCARD======*/

.card {
  width: 450px;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px;
  border: 1px transparent solid;
  background-color: transparent;
  border: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
  border-radius: 20px;
  min-height: 550px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}
.card__partGold {
  box-shadow: 1px 1px #aaa3a300;
  top: 0;
  position: absolute;
  z-index: 1000;
  left: 4.5rem;
  top: 3rem;
  display: inline-block;
  width: 320px;
  height: 190px;
  background: rgb(212, 175, 55);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 8px;

  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}
.card_partSilver {
  box-shadow: 1px 1px #aaa3a3;
  top: 0;
  position: absolute;
  z-index: 1000;
  left: 4.5rem;
  top: 3rem;
  display: inline-block;
  width: 320px;
  height: 190px;
  background: rgb(170, 169, 173);
  background: linear-gradient(
    90deg,
    rgba(170, 169, 173, 1) 0%,
    rgba(170, 169, 173, 1) 40%,
    rgba(170, 169, 173, 1) 56%,
    rgba(112, 112, 112, 1) 100%
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 8px;

  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}
.card_partTitanium {
  box-shadow: 1px 1px #aaa3a3;
  top: 0;
  position: absolute;
  z-index: 1000;
  left: 4.5rem;
  top: 3rem;
  display: inline-block;
  width: 320px;
  height: 190px;
  background: rgb(205, 215, 225);
  background: linear-gradient(
    360deg,
    rgba(205, 215, 225, 1) 24%,
    rgba(177, 193, 208, 1) 44%,
    rgba(238, 242, 245, 1) 80%,
    rgba(247, 248, 252, 1) 100%
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 8px;

  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}
.card__front {
  padding: 18px;
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
}
.card__back {
  padding: 18px 0;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
}
.card__black-line {
  margin-top: 5px;
  height: 38px;
  background-color: #3f1d1d;
}
.card__logo {
  height: 30px;
  width: 30px;
}
.card__logo1 {
  height: 15px;
  width: 37px;
}
.card__front-logo {
  position: absolute;
  top: 18px;
  right: 18px;
}
.card__square {
  border-radius: 5px;
  height: 30px;
  width: 100px;
}
.card_numer {
  display: block;
  width: 100%;
  word-spacing: 4px;
  font-size: 16px;
  letter-spacing: 2px;
  color: #fff;

  margin-bottom: 20px;
  margin-top: 20px;
}
.card__space-75 {
  width: 75%;
  float: left;
}
.card__space-25 {
  width: 25%;
  float: left;
}
.card__label {
  font-size: 10px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 1px;
}
.card__info {
  margin-bottom: 0;
  margin-top: 5px;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.card__back-content {
  padding: 15px 15px 0;
}
.card__secret--last {
  color: #303030;
  text-align: right;
  margin: 0;
  font-size: 14px;
}
.card__secret {
  padding: 5px 12px;
  background-color: #fff;
  position: relative;
}
.card__secret:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  height: calc(100% + 6px);
  width: calc(100% - 42px);
  border-radius: 4px;
  background: repeating-linear-gradient(
    45deg,
    #ededed,
    #ededed 5px,
    #f9f9f9 5px,
    #f9f9f9 10px
  );
}
.card__back-logo {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.card__back-square {
  position: absolute;
  bottom: 15px;
  left: 15px;
}
.card:hover .card__front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}
.card:hover .card__back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
}

/*======BODY DARK======*/

body.dark .profile p {
  color: var(--color-info-light);
}
body.dark .top a span {
  color: var(--color-info-light);
}
body.dark .textMuted {
  color: var(--color-info-light);
}
body.dark .sidebar header .toggle {
  color: var(--text-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}
body.dark .mode .sun-moon i.sun {
  opacity: 1;
}
body.dark .mode .sun-moon i.moon {
  opacity: 0;
}
body.dark .switch::before {
  left: 20px;
}
body.dark .home .text {
  color: var(--text-color);
}
body.dark .home .textTable {
  color: white;
}
body.dark .navbar {
  background-color: var(--sidebar-color);
}
body.dark .date {
  background-color: var(--color-info-light);
}
body.dark .insights .sales {
  background-color: var(--sidebar-color);
  color: var(--color-info-light);
}
body.dark .btn {
  background-color: var(--color-info-light);
}
body.dark .income {
  background-color: var(--sidebar-color);
  color: var(--color-info-light);
}
body.dark main .img-pay {
  background-color: var(--sidebar-color);
  color: var(--color-info-light);
}
body.dark .right .recent-updates {
  color: var(--color-info-light);
}
body.dark .right .recent-updates .updates {
  background-color: var(--sidebar-color);
  color: var(--color-info-light);
}
body.dark .item {
  background-color: var(--sidebar-color);
  color: var(--color-info-light);
}
body.dark .news {
  color: var(--color-info-light);
}

/*======MEDIA QUERIES======*/

@media screen and (max-width: 1440px) {
  main .img-pay .img-pay-online {
    width: 53rem;
    transform: translate(-13.5rem, -0.5rem);
  }

  main .img-pay button {
    transform: translate(2rem, -8rem);
    color: var(--color-primary);
    text-decoration: none;
  }
  .containers {
    display: grid;
    width: 95%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 80% ;
    justify-content: center;
  }
  .copy {
    width: 60%;
  }
  footer {
    display: flex;
    height: 167px;
    /* position: absolute; */
    width: 100%;
    /* bottom: 0; */
    justify-content: center;
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    justify-content: center;
    bottom: 0;
    position: absolute;
  }
  .footer a {
    padding: 0px 11px 0px 11px;
    font-size: 16px;
    color: white;
  }
  .sidebar.close ~ .home .footer2 {
    margin-top: 6px;
    margin-bottom: 7px;
  }
  .footer2 {
    margin-top: 4px;
    margin-bottom: 0px;
  }
  footer svg {
    width: 57px;
    height: 28px;
    color: white;
  }
}
@media screen and (max-width: 1024px) {
  .containers {
    display: grid;
    width: 80%;
    margin: 0px -174px 0px 0px;
    gap: 1.8rem;
    grid-template-columns: 94%;
    justify-content: center;
  }
  .bodies {
    margin: -21px 0px 0px -134px;
  }

  main .insights {
    grid-template-columns: 1fr;
    gap: 0;
  }

  main .img-pay-father {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  main .img-pay {
    margin-top: 2rem;
    margin-right: -0.5rem;
    width: 100%;
    max-height: 17rem;
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
  }

  main .img-pay .img-pay-online {
    width: 53rem;
    transform: translate(-10rem, -0.5rem);
  }

  main .img-pay button {
    transform: translate(4rem, -8rem);
    color: var(--color-primary);
    text-decoration: none;
  }
  .transfer {
    display: flex;
    align-items: stretch;
  }
  .transfer-details {
    display: flex;
    margin-left: 0;
    align-items: flex-start;
  }

  .transfer-details div {
    width: 100%;
    font-size: 10px;
  }
  .transfer-number {
    font-size: 15px;
  }
  .sidebar .menu-bar {
    height: calc(80% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
  }
  footer {
    display: flex;
    height: 180px;
    /* position: absolute; */
    width: 100%;
    /* bottom: 0; */
    justify-content: center;
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    justify-content: center;
    bottom: 0;
    position: absolute;
  }
  .footer a {
    padding: 0px 11px 0px 11px;
    font-size: 16px;
    color: white;
  }
  .sidebar.close ~ .home .footer2 {
    margin-top: 6px;
    margin-bottom: 7px;
  }
  .footer2 {
    margin-top: 4px;
    margin-bottom: 0px;
  }
  footer svg {
    width: 57px;
    height: 28px;
    color: white;
  }
  .sidebar.close ~ .home .copy {
    width: 90%;
  }
  .copy {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .sidebar.close ~ .home .containers {
    display: grid;
    width: 103%;
    margin: -140px auto;
    gap: 1.8rem;
    grid-template-columns: 100%;
    justify-content: center;
  }
  .containers {
    display: grid;
    width: 100%;
    margin: -140px auto;
    gap: 1.8rem;
    grid-template-columns: 100%;
    justify-content: center;
  }
  main {
    margin-top: 8rem;
    padding: 0 1rem;
  }
  main .img-pay {
    position: relative;
    margin: 3rem 0 0 0;
    width: 101%;
    margin: 0;
  }
  main .img-pay-father {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  main .insights > div {
    background: var(--color-white);
    padding: 14px;
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
  }
  main .insights > .income {
    width: calc(100% - -3px);
    transition: var(--tran-03);
  }
  .sidebar.close ~ .home main .insights > .income {
    background: var(--color-white);
    padding: 16px;
    border-radius: var(--card-border-radius);
    width: 309px;
    box-shadow: var(--box-shadow);
  }
  .right {
    width: 89%;
    margin: 4px auto 4rem;
  }
  .right .top {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 0.8rem;
    height: 4.6rem;
    background: var(--color-white);
    width: 100%;
    margin: 0;
    z-index: 2;
    box-shadow: 0 1rem 1rem var(--color-light);
  }
  .right .top .theme-toggler {
    width: 4.4rem;
    position: absolute;
    left: 66%;
  }
  .right .profile .info {
    display: none;
  }
  .right .top button {
    display: inline-block;
    background: transparent;
    cursor: pointer;
    color: var(--color-dark);
    position: absolute;
    left: 1rem;
  }
  .right .top button span {
    font-size: 2rem;
  }
  .home {
    overflow-x: hidden;
    position: absolute;
    top: 0;
    top: 0;
    left: 104px;
    width: calc(100% - 105px);
    background-color: var(--body-color);
    transition: var(--tran-03);
  }
  .sidebar.close ~ .home {
    left: 10px;
    width: calc(109% - 78px);
  }
  .sidebar.close ~ .home .bodies {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 48px 1px 74px 1px;
  }
  .bodies {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 27px 2px 64px 44px;
  }
  main .insights {
    grid-template-columns: 1fr 1fr;
    display: grid;
    justify-content: space-between;
    gap: 1.6rem;
  }
  main .img-pay .img-pay-online {
    width: 52rem;
    transform: translate(-3rem, 1.5rem);
  }
  main .img-pay button {
    transform: translate(11.5rem, -6rem);
    color: var(--color-primary);
    text-decoration: none;
  }
  main .insights button {
    /* margin: 1.6rem 1rem 0 0; */
    display: block;
    width: 56px;
    font-size: 10px;
    padding: 2px 0px;
  }
  .right .recent-updates .updates {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    transform: translate(-1rem, 1rem);
    width: 108%;
  }
  .right .news {
    margin-top: 2rem;
    transform: translate(-1rem, 1rem);
    width: 108%;
  }
  .left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 150px;
    padding: 10px 12px;
    background-color: none;
    transition: var(--tran-03);
    z-index: 100;
  }
  .sidebar.close {
    width: 14px;
  }
  .sidebar .menu-bar {
    height: calc(77% - 16px);
    display: flex;
    justify-content: flex-start;
    overflow-y: scroll;
    align-items: center;
    flex-direction: column;
  }
  .menuLinks {
    margin-right: 0rem;
  }
  .sidebar li {
    height: 59px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  .sidebar .text {
    font-size: 13px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
  }
  .sidebar .icon {
    min-width: 21px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: flex-end;
  }
  .sidebar li.search-box input {
    /* height: 100%; */
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    transition: var(--tran-03);
  }
  .sidebar .mode .text {
    display: none;
  }
  .menu-bar .mode .sun-moon {
    height: 59px;
    width: 77px;
  }
  footer {
    display: flex;
    height: 180px;
    /* position: absolute; */
    width: 100%;
    /* bottom: 0; */
    justify-content: center;
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    justify-content: center;
    bottom: 0;
    position: absolute;
  }
  .footer a {
    padding: 0px 11px 0px 11px;
    font-size: 13px;
    color: white;
  }
  .sidebar.close ~ .home .footer2 {
    margin-top: 6px;
    margin-bottom: 7px;
  }
  .footer2 {
    margin-top: 4px;
    margin-bottom: 0px;
  }
  .footer2 h2 {
    font-size: 13px;
  }
  footer svg {
    width: 53px;
    height: 23px;
    color: white;
  }
  .sidebar.close ~ .home .copy {
    width: 90%;
  }
  .copy {
    width: 80%;
  }
  .copy p {
    font-size: 10px;
  }
}
@media screen and (max-width: 425px) {
  html {
    overflow-x: hidden;
  }
  .navbar {
    background-color: var(--sidebar-color);
    flex-direction: row;
    justify-content: flex-start;
}
  .profile {
    width: 0px;
    height: 55px;
    margin-left: 5px;
  }
  .profile-photo {
    display: none;
  }
  .transfer {
    display: flex;
    align-items: center;
  }
  .transfer-details {
    margin: 0rem;
    margin-top: 1rem;
  }

  .transfer-details div {
    font-size: 8px;
  }
  .transfer-logo {
    display: none !important;
  }
  .transfer-number {
    font-size: 10px;
    margin-left: 0;
    width: 50px;
  }
  .menu-bar .mode .sun-moon {
    height: 59px;
    width: 108px;
  }
  .bodies {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 48px 15px 0px 48px;
  }
  .payments {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
  }
  .payment {
    display: flex;
    align-items: center;
  }
  .payment + * {
    margin-top: 1rem;
  }

  .payment-details {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-left: 1.5rem;
  }
  .payment-details h3 {
    font-size: 0.8rem;
    color: var(--c-text-tertiary);
  }
  .payment-details div {
    margin-top: 0rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    border-top: 1px solid var(--c-gray-600);
    border-bottom: 1px solid var(--c-gray-600);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
  }
  .payment-details div span {
    font-size: 1rem;
  }
  .card {
    width: 10rem;
  }
  .payment-section {
    margin-left: 3rem;
  }
  .details a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.2rem;
    width: 45px;
    height: 15px;
  }
  .details p {
    font-size: 10px;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 150px;
    padding: 10px 12px;
    background-color: none;
    transition: var(--tran-03);
    z-index: 100;
  }
  .sidebar.close {
    width: 0px;
  }
  .sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  .sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
  .sidebar .text,
  .sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
  }
  .sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
  }
  .sidebar.close .text {
    opacity: 0;
  }
  .sidebar header {
    position: relative;
  }
  .sidebar.close ~ .home {
    left: 16px;
    width: calc(145% - 177px);
  }
  .sidebar.close ~ .home main .insights > .income {
    background: var(--color-white);
    padding: 16px;
    border-radius: var(--card-border-radius);
    width: 467px;
    box-shadow: var(--box-shadow);
  }
  .home .top {
    display: flex;
    justify-content: end;
    gap: 4rem;
    align-items: center;
  }
  main .img-pay .img-pay-online {
    width: 52rem;
    transform: translate(-14rem, 0.5rem);
  }
  .sidebar.close ~ .home main .img-pay .img-pay-online {
    transform: translate(-16rem, -0.5rem);
    left: 16px;
    width: calc(212% - 143px);
  }
  .sidebar.close ~ .home main .img-pay button {
    transform: translate(1.5rem, -9rem);
    color: var(--color-primary);
    text-decoration: none;
    width: calc(52% - 146px);
  }
  .home main .img-pay button {
    transform: translate(1.5rem, -6rem);
  }
  .home {
    left: 16px;
    width: calc(145% - 177px);
  }
  .img-logo {
    width: 11rem;
    padding-right: 2rem;
  }
  main .insights {
    grid-template-columns: 1fr;
    display: grid;
    justify-content: space-between;
    gap: 1.6rem;
  }
  .sidebar .text {
    font-size: 10px;
  }
  .nav-links {
    display: block;
    padding: 0px;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out;
  }
  .menu-links {
    padding: 0px;
  }

  .mode .text {
    display: none !important;
  }
  .texts {
    font-size: 20px;
  }
  .sidebar li.search-box input {
    font-size: 12px;
  }
  footer {
    display: flex;
    height: 194px;
    /* position: absolute; */
    width: 100%;
    /* bottom: 0; */
    justify-content: center;
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    justify-content: center;
    bottom: 0;
    position: absolute;
  }
  .footer a {
    padding: 0px 4px 0px 7px;
    font-size: 13px;
    color: white;
  }
  .sidebar.close ~ .home .footer2 {
    margin-top: 6px;
    margin-bottom: 7px;
  }
  .footer2 {
    margin-top: 4px;
    margin-bottom: 0px;
  }
  .footer2 h2 {
    font-size: 13px;
  }
  footer svg {
    width: 53px;
    height: 23px;
    color: white;
  }
  .sidebar.close ~ .home .copy {
    width: 90%;
  }
  .copy {
    width: 80%;
  }
  .copy p {
    font-size: 10px;
  }
}
@media screen and (max-width: 375px) {
  .bodies {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 48px 15px 0px 14px;
  }
  .sidebar.close ~ .home .img-logo {
    width: 11rem;
    padding-right: 2rem;
  }
  .img-logo {
    width: 6rem;
    padding-right: 2rem;
  }
  main .insights {
    grid-template-columns: 364px;
    display: grid;
    justify-content: space-between;
    gap: 1.6rem;
  }
  .sidebar.close ~ .home {
    left: 16px;
    width: calc(145% - 140px);
  }
  .home {
    overflow-x: hidden;
    width: calc(154% - 264px);
    background-color: var(--body-color);
  }
  .sidebar.close ~ .home main .insights > .income {
    background: var(--color-white);
    padding: 16px;
    border-radius: var(--card-border-radius);
    width: 362px;
    box-shadow: var(--box-shadow);
  }
  .sidebar.close ~ .home main .img-pay .img-pay-online {
    transform: translate(-12rem, 1.5rem);
    left: 16px;
    width: calc(222% - 143px);
  }
  .sidebar.close ~ .home main .img-pay button {
    transform: translate(1.5rem, -5rem);
    color: var(--color-primary);
    text-decoration: none;
    width: calc(74% - 146px);
  }
  .right {
    width: 86%;
    margin: 5px 15px 4rem 26px;
  }
  .sidebar.close ~ .home main .img-pay {
    position: relative;
    margin: 3rem 0 0 0;
    width: 98%;
    margin: 0;
  }
  main .img-pay {
    position: relative;
    margin: 3rem 0 0 0;
    width: 98%;
    margin: 0;
  }
  .home main .img-pay button {
    transform: translate(0.5rem, -2rem);
  }
  main .img-pay .img-pay-online {
    width: 39rem;
    transform: translate(-14rem, 2.5rem);
  }
}
@media screen and (max-width: 320px) {
  main .insights {
    grid-template-columns: 264px;
    display: grid;
    justify-content: space-between;
    gap: 1.6rem;
  }
  .sidebar.close ~ .home {
    left: 22px;
    width: calc(138% - 140px);
  }
  .sidebar.close ~ .home main .insights > .income {
    background: var(--color-white);
    padding: 16px;
    border-radius: var(--card-border-radius);
    width: 263px;
    box-shadow: var(--box-shadow);
  }
  .sidebar.close ~ .home main .img-pay .img-pay-online {
    transform: translate(-7rem, 2.5rem);
    left: 16px;
    width: calc(222% - 143px);
  }
  .sidebar.close ~ .home main .img-pay button {
    transform: translate(1.5rem, -2rem);
    color: var(--color-primary);
    text-decoration: none;
    width: calc(99% - 146px);
  }
  .navbar {
    background-color: var(--sidebar-color);
    height: 96px;
  }
}
/*========LOGIN===========*/
